<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet"  href="css/style.css">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script>  src = "server.js"  </script>
	<title>
		
	</title>
</head>
<body>
    <form method="POST" action="/filter">
      <select id="status" name="status">
        <option>Начата</option>
        <option>В процессе</option>
        <option>Закончена</option>
      </select>
      <button type="submit">Filter</button>
    </form>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Task Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="./newtask">Add new task</a>
    </div>
  </div>
</nav>

	<% filedata.forEach((task) =>{ %>
    <div class="mdc-card demo-card col-md-3">
      <div tabindex="0">
        <div class="demo-card__primary">
          <h2 class="demo-card__title mdc-typography mdc-typography--headline6"><a href="/task/<%= task.id %>"><%= task.title %></a></h2>
        </div>
        <div class="demo-card__secondary mdc-typography mdc-typography--body2"><%= task.description %></div>
      </div>
        <p>Days before deadline: <%= task.deadline %> </p>
        <p><a href="download/<%= task.id %>"><%= task.userFilename %></a></p>
      <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
          <a class="mdc-button mdc-card__action mdc-card__action--button" href="/task/<%= task.id %>">Edit</a>
          <form method="POST" action="/task/delete/<%= task.id %>">
            <input type="hidden" id="id" name="id" value="<%= task.id %>">
            <button class="mdc-button mdc-card__action mdc-card__action--button" type="submit">Delete</button>
            
          </form>
          </div>
          
          <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" id="status" title="Status"><%= task.status %></button>
        
        </div>
    
      </div>
  <% }) %>

</body>
<script>
  // let firstDate = new Date(Date.now),
	// x = document.getelementbyid('date'),
	// secondDate = x.value;
  // timeDifference = Math.abs(secondDate.getTime() - firstDate.getTime());
	// var differentDays = Math.ceil(timeDifference / (1000 * 3600 * 24));
</script>
</html>